# Logistic Regression

## What is Logistic Regression ?

Logistic regression is a statistical technique to create predictive models for binary classification problems (problems with two class values). The logistic function is also called the sigmoid function. Itâ€™s an S-shaped curve that can take any real-valued number and map it into a value between 0 and 1, but never exactly at those limits.

Y(z) = 1 / (1 + e^-z) - Sigmoid or Logistic function

## How to Implement Logistic Regression ?

### Importing the libraries

In [6]:
#Data Processing Libraries
import numpy as np
import pandas as pd

# Machine Learning Library
from sklearn.preprocessing import LabelEncoder # Encode Categorical Variable to Numerical Variable
from sklearn.metrics import accuracy_score # Library for model evaluation
from sklearn.model_selection import train_test_split # Library to split datset into test and train

from sklearn.linear_model  import LogisticRegression # Logistic Regression Classifier

### Getting the data

In [10]:
iris_dataset = pd.read_csv("C:\\Users\\jagan\\OneDrive\\Documents\\Machine Learning - Projects\\Iris\iris_dataset.csv")

In [11]:
iris_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
class           150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [12]:
iris_dataset.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

### Now converting the class into numerical variables

In [13]:
labelencoder_species = LabelEncoder()
labelencoder_X=LabelEncoder()
iris_dataset['class'] = labelencoder_species.fit_transform(iris_dataset['class'])

In [15]:
iris_dataset.head()  # Iris-Setosa - 0 ; Iris-virsicolor - 1 ; Iris-virginica - 2;

   sepal_length  sepal_width  petal_length  petal_width  class
0           5.1          3.5           1.4          0.2      0
1           4.9          3.0           1.4          0.2      0
2           4.7          3.2           1.3          0.2      0
3           4.6          3.1           1.5          0.2      0
4           5.0          3.6           1.4          0.2      0

### Getting columns into X (feature variable) and y(target variable)

In [16]:
X =  iris_datasetiris_data .iloc[:,0:4].values
y = iris_dataset.iloc[:,4].values

In [20]:
X[1:5]

array([[4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2]])

In [21]:
y[1:5]

array([0, 0, 0, 0], dtype=int64)

### Dividing the dataset into test & train

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.30)
print('There are {} samples in the training set and {} samples in the test set'.format(X_train.shape[0], X_test.shape[0]))

There are 105 samples in the training set and 45 samples in the test set

## Run Logistic Regression

In [35]:
classifier = LogisticRegression() # This is the logistics regression classifier from Scikit Learn library

In [36]:
classifier.fit(X_train, y_train) # Fitting the training Set

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [37]:
# Predicting the output on training datset
y_pred = classifier.predict(X_test)

In [38]:
#Accuracy
score_test = accuracy_score(y_test, y_pred)
print(score_test)

0.9777777777777777

### KNN Classifier Parameter details
http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html